@charset "UTF-8";
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/Gotham_Pro/gothampro_bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/Gotham_Pro/gothampro_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/Gotham_Pro/gothampro_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/Gotham_Pro/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", "Times New Roman";
}

ul,
li {
  list-style: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button,
[type=button],
[type=submit],
[type=reset] {
  /* Базовый сброс */
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.burger-menu span {
  width: 35px;
  height: 4px;
  background-color: #CAA44D;
  border-radius: 10px;
  transition: background-color 0.2s ease-in;
}
@media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu:hover span {
  background-color: #5BC4CB;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 100%;
  max-width: 177px;
  padding: 10px 0;
}
.header__info-wrapper {
  width: 100%;
  background-color: #5BC4CB;
  display: flex;
  justify-content: center;
}
.header__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(10px, 1.2vw, 16px);
  color: white;
  padding: 10px 10px;
}
.header__info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.header__info-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  display: none;
}
@media (min-width: 768px) {
  .header__info-contacts {
    display: flex;
  }
}
.header__info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header__info-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header__info-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
}
.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  display: none;
}
@media (min-width: 1024px) {
  .header__links {
    display: flex;
  }
}
.header__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  border: 1px solid #CAA44D;
  border-radius: 12px;
  transition: border 0.2s ease-in;
}
.header__link-text {
  font-size: clamp(10px, 1vw, 16px);
  color: #CAA44D;
  transition: color 0.2s ease-in;
}
.header__link-arrow path {
  color: #CAA44D;
  transition: color 0.2s ease-in;
}
.header__link:hover {
  border-color: #5BC4CB;
}
.header__link:hover .header__link-text {
  color: #5BC4CB;
}
.header__link:hover .header__link-arrow path {
  color: #5BC4CB;
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  display: none;
}

.lang {
  position: relative;
  cursor: pointer;
}
.lang-current {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in;
}
.lang-current:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.lang-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s;
  z-index: 100;
  min-width: 80px;
}
.lang-dropdown.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.lang-option {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  background-color: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.lang-option:hover {
  background-color: #f5f5f5;
}
.lang-option:first-child {
  border-radius: 8px 8px 0 0;
}
.lang-option:last-child {
  border-radius: 0 0 8px 8px;
}
.lang-arrow {
  transition: transform 0.3s;
}
.is-open .lang-arrow {
  transform: rotate(180deg);
}

.nav {
  display: none;
  justify-content: center;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.nav__item {
  text-transform: capitalize;
  font-size: clamp(12px, 1.2vw, 16px);
}
@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 10px 50px 10px;
}
@media (min-width: 1024px) {
  .main {
    padding-bottom: 110px;
    gap: 110px;
  }
}

.adaptive {
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .adaptive {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .adaptive {
    max-width: 960px;
  }
}
@media (min-width: 1440px) {
  .adaptive {
    max-width: 1280px;
  }
}
@media (min-width: 1920px) {
  .adaptive {
    max-width: 1720px;
  }
}

.hero {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.hero__image-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}
.hero__title {
  font-size: clamp(24px, 5vw, 96px);
  color: white;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.news__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__title {
  font-size: clamp(24px, 5vw, 48px);
  color: #3B3E4F;
}
.news__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 1024px) {
  .news__list {
    flex-direction: row;
    align-items: baseline;
  }
}
.news__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 533px;
}
.news__item-image {
  width: 100%;
  height: 100%;
  max-height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news__item-date {
  font-size: clamp(12px, 1.5vw, 16px);
  color: #3B3E4F;
  opacity: 0.5;
}
.news__item-title {
  font-size: clamp(16px, 2vw, 20px);
  color: #3B3E4F;
}

.link-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 25px 20px;
  border: 1px solid #CAA44D;
  background-color: #CAA44D;
  border-radius: 12px;
  transition: all 0.2s ease-in;
}
@media (min-width: 1024px) {
  .link-btn {
    padding: 35px 30px;
  }
}
.link-btn__text {
  font-size: clamp(12px, 1.5vw, 16px);
  color: white;
}
.link-btn__arrow {
  color: white;
}
.link-btn:hover {
  background-color: #5BC4CB;
  border-color: #5BC4CB;
}

.housing-programs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.housing-programs__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.housing-programs__title {
  font-size: clamp(24px, 5vw, 48px);
  color: #3B3E4F;
}
.housing-programs__item {
  width: 100%;
  max-width: 385px;
  transition: border-color 0.3s ease-in;
  position: relative;
  border-bottom: 1px solid #3B3E4F;
  padding-bottom: 10px;
}
.housing-programs__item img {
  width: 100%;
}
.housing-programs__item-arrow {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.housing-programs__item-image {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.housing-programs__item-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 196, 203, 0.74);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 2;
  display: block;
}
.housing-programs__item-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #3B3E4F;
}
.housing-programs__item-title {
  font-size: clamp(16px, 2vw, 20px);
  transition: color 0.3s ease-in;
}
.housing-programs__item-description {
  font-size: clamp(14px, 1.5vw, 16px);
}
.housing-programs__item-link-text {
  font-size: clamp(15px, 2vw, 20px);
  font-weight: 600;
  color: #3B3E4F;
  transition: color 0.3s ease-in;
}
.housing-programs__item:hover {
  border-color: #5BC4CB;
}
.housing-programs__item:hover .housing-programs__item-arrow {
  opacity: 1;
}
.housing-programs__item:hover .housing-programs__item-filter {
  opacity: 1;
}
.housing-programs__item:hover .housing-programs__item-link-text, .housing-programs__item:hover .housing-programs__item-title {
  color: #5BC4CB;
}
@media (min-width: 1024px) {
  .housing-programs {
    gap: 70px;
  }
}

.slider-wrapper {
  width: 100%;
  overflow: visible;
  position: relative;
}

.swiper {
  width: 100%;
}

.housing-swiper-button-prev, .housing-swiper-button-next, .info-swiper-button-prev, .info-swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: white;
  transition: background-color 0.3s ease-in;
  position: absolute;
  top: 50%;
  z-index: 100;
}
.housing-swiper-button-prev:hover, .housing-swiper-button-next:hover, .info-swiper-button-prev:hover, .info-swiper-button-next:hover {
  background-color: #5BC4CB;
}
.housing-swiper-button-prev:hover .housing-swiper-button-icon, .housing-swiper-button-prev:hover .info-swiper-button-icon, .housing-swiper-button-next:hover .housing-swiper-button-icon, .housing-swiper-button-next:hover .info-swiper-button-icon, .info-swiper-button-prev:hover .housing-swiper-button-icon, .info-swiper-button-prev:hover .info-swiper-button-icon, .info-swiper-button-next:hover .housing-swiper-button-icon, .info-swiper-button-next:hover .info-swiper-button-icon {
  color: white;
}
@media (min-width: 1920px) {
  .housing-swiper-button-prev, .housing-swiper-button-next, .info-swiper-button-prev, .info-swiper-button-next {
    width: 50px;
    height: 50px;
  }
}

.housing-swiper-button-prev, .info-swiper-button-prev {
  left: 0;
  transform: translate(0, -50%) rotate(180deg);
}
@media (min-width: 768px) {
  .housing-swiper-button-prev, .info-swiper-button-prev {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.housing-swiper-button-next, .info-swiper-button-next {
  right: 0;
  transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .housing-swiper-button-next, .info-swiper-button-next {
    transform: translate(50%, -50%);
  }
}

.housing-swiper-button-icon, .info-swiper-button-icon {
  color: #3B3E4F;
  transition: color 0.3s ease-in;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.services__title {
  font-size: clamp(24px, 5vw, 48px);
  color: #3B3E4F;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 1024px) {
  .services__list {
    flex-direction: row;
    align-items: flex-end;
  }
}
.services__item {
  width: 100%;
  height: 100%;
  max-width: 340px;
  max-height: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 30px 0;
}
.services__item-title {
  font-size: clamp(16px, 2vw, 20px);
  color: #CAA44D;
  line-height: 160%;
  transition: color 0.3s ease-in;
}
.services__item-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  background-color: #FAFCFD;
  transition: background-color 0.3s ease-in;
}
.services__item-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  color: #5BC4CB;
  transition: color 0.3s ease-in;
}
.services__item-image {
  width: 100%;
  max-width: 192px;
  height: 100%;
  max-height: 192px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 4;
}
.services__item:hover .services__item-background {
  background-color: #5BC4CB;
}
.services__item:hover .services__item-icon {
  opacity: 1;
}
.services__item:hover .services__item-title {
  color: white;
}
@media (min-width: 1024px) {
  .services {
    gap: 66px;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #3B3E4F;
}
.info__title {
  font-size: clamp(24px, 4vw, 48px);
}
.info__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (min-width: 1024px) {
  .info__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.info__item {
  width: 100%;
  max-width: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 36px;
}
.info__item-background {
  height: 66%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #FAFCFD;
  transition: background-color 0.3s ease-in;
}
.info__item-image {
  width: 100%;
  max-width: 192px;
  max-height: 192px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.info__item-title {
  font-size: clamp(14px, 3vw, 16px);
  color: #3B3E4F;
  line-height: 160%;
  text-align: center;
  transition: color 0.3s ease-in;
  padding: 0 85px;
}
.info__item:hover .info__item-background {
  background-color: #5BC4CB;
}
.info__item:hover .info__item-title {
  color: white;
}
@media (min-width: 1024px) {
  .info {
    gap: 70px;
  }
}

.footer {
  width: 100%;
  padding: 60px 20px 52px 20px;
  background-color: #FAFCFD;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 60px;
}
@media (min-width: 1440px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer__icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1024px) {
  .footer__icons {
    flex-direction: row;
    gap: 120px;
  }
}
.footer__icons-gov {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1024px) {
  .footer__icons-gov {
    flex-direction: row;
    gap: 20px;
  }
}
.footer__icons-gov-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}
.footer__icons-gov-item-image {
  width: 57px;
  height: 57px;
}
.footer__icons-gov-item-title {
  font-size: clamp(14px, 1.5vw, 16px);
  width: 100%;
  max-width: 200px;
}
.footer__icons-logo {
  width: 100%;
  max-width: 175px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 900px;
}
@media (min-width: 1024px) {
  .footer__info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__info-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer__info-item--bold {
  font-weight: 600;
}
.footer__info-item--green {
  color: #48C95F;
  text-decoration: underline;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer__map-image {
  width: 100%;
  max-width: 681px;
  -o-object-fit: cover;
     object-fit: cover;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.schedule__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}/*# sourceMappingURL=style.css.map */